<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/download.js"> </script>
</head>


<body>
    <div ng-app="list" ng-controller="listController">
        <b>Data Sets:</b>
        <ul>
            <li ng-repeat="d in dataSets">
                {{d}} <button ng-click='download(d)'>Download</button>
            </li>
            
    </div>
</body>

</html>
