<div class="container" ng-if="groupName" style="max-width:600px">
  <div class="panel-heading">
    <h4 class="panel-title">
      <p class="text-center">{{title}}</p>
    </h4>
  </div>
  
  <div class="panel-body">
    <p ng-if="info"> {{d.info}} </p>
    <div class="pad">
      <button class="btn btn-primary navbar-right" ng-click="launchDownload(groupName)" analytics-on="click" analytics-event="{{title}}" analytics-category="Download">Download</button>
    </div>
  </div>     
</div>

<div class="alert alert-danger text-center" ng-if="!groupName" role="alert">
  {{title}} is currently not available for download.<br/>
</div>

